{% include 'accounts/main.html' %}


	{% block content %}

	{% include 'accounts/status.html' %}

	  <div class="container-fluid">
	  <div class="row">
	    <div class="col-md-4">
	      <h4> CUSTOMER : 5 </h4>
	    </div>
	  
	  <div class="col-md-8 float-left">
	    <h4> LAST 5 ORDERS </h4>
	  </div>
	  </div><br>

	  <div class="row">
	    <div class="col-md-4">
	      <button type="button" class="btn btn-success btn-block btn-sm">
	        Create Customer </button>
	      <table class="table">
	        <thead>
	          <tr>
	            <th> Customer </th>
	            <th> Phone </th>
	            <th>  </th>
	          </tr>
	        </thead>
	        <tbody>
	        	{% for i in all_customer %}
	          <tr>
	            <td> {{i.name}} </td>
	            <td> {{i.phone}} </td>
	            <td> <a href="{% url 'customer_view' i.id %}"> <button type="" class="btn btn-primary btn-sm">View</button> </a> </td>
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	    </div>
	    <div class="col-md-8">
	       
	      <a href="{% url 'create_order' %}" title=""><button type="button" class="btn btn-success btn-block btn-sm"> Create Order </button></a>
	      <table class="table">
	        <thead>
	          <tr>
	            <th> Product </th>
	            <th> Date Created </th>
	            <th> Status </th>
	            <th> Update </th>
	            <th> Remove </th>
	          </tr>
	        </thead>
	        <tbody>
	        	{% for i in all_order %}
	          <tr>
	            <td> {{ i.product }} </td>
	            <td> {{ i.date_created }} </td>
	            <td> {{ i.status }} </td>
	            <td> <a href="{% url 'update_order' i.id %}"> <button type="" class="btn btn-primary btn-sm"> Update </button></a> </td>
	            <td> <a href="{% url 'delete_order' i.id %}"> <button type="" class="btn btn-danger btn-sm"> Delete </button> </a> </td>
	          </tr>
	          {% endfor %}
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
{% endblock %}